<section class="resume-section p-3 p-lg-5 d-flex align-items-center">
    <div class="w-100">
        <h2 class="mb-5">About <a href="#" class="js-scroll-trigger">Me</a> <i class="fa fa-smile-o"></i></h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Firstly, a bit about me...</h3>
                <div class="subheading mb-3">Unless you want to skip to <a href="#education" class="js-scroll-trigger">university/projects</a></div>
                <p>
                    I am a 23 year old computer science student who is going into their third year at university (late comer to the university game)
                    and I have been highly interested in programming since being introduced to it in my college years. My teacher taught us C# and
                    we created many many things, ranging from console applications (of course 'Hello World' was involved!) to desktop applications for
                    gambling (this was for an assignment). This got me interested... no, actually it got me HOOKED into programming. 
                    <br /><br />
                    From here I began to research in my spare time lots about it and stumbled onto web-development. I took an interest into the backend side of things -
                    although I loved frontend, I couldn't create much. Until I stareted incorporating Bootstrap of course. Anyway, from here I discovered
                    PHP and started learning how to make things with it; my code was indeed horrendous, however, after a long process, I discovered 
                    frameworks, etc., and began looking into whether CakePHP was 'better' than Symfony or Laravel. After some time, I began learning 
                    Laravel. For reasons I cant remember, I stopped programming consistently for a while. After this time off I came back and started learning
                    Django/Flask Python web-development. This was short lived, I loved what it could do and all the power of it, I just couldn't get acustomed 
                    to the 'no brackets' scenario...
                    <br /><br /> 
                    This is when I switched back to my genesis, so to speak. I began learning C# again, but this
                    time it was for web-development! From here I began researching for around 3 or so days, this took me to a few resources (YouTube and blogs)
                    but I settled on MSDNs' blog for learning C# ASP.NET MVC (using the framework version). I looked into the benefits of core and framework
                    but due to being a junior developer, I thought it would be best to learn what has been around for longer and is still commonly used.
                    <br /><br /> 
                    Now... I am still learning this and trying to build upon this knowledge with languages such as JavaScript (using jQuery), SQL and more.
                    It is a fun process and I can't wait to see what the future holds.
                </p>

                <p>
                    I hope this quick overview helps you understand my journey! If you'd like a more detailed view, stay tuned to my blog posts or
                    feel free to drop me an email and I will get back to you! <i class="fa fa-smile-o"></i>
                </p>
            </div>
        </div>
    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">University and <a href="#certifications" class="js-scroll-trigger">Certifications</a></h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">University of Lincoln <i class="fa fa-university"></i></h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                <div>Computer Science</div>
                <p>
                    Second Year: High 2:1<br />
                    Third Year: Predicated to get a First.
                </p>

            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2017 - 2020</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">Third Year Dissertation Project Idea <i class="fa fa-book"></i></h3>
                <div class="subheading mb-3">
                    The standardisation of health data transfer with the use of blockchain technology (Sovrin), with emphasis on
                    cross-border transfer.
                </div>
                <p>
                    I am hoping to do my third year project on the above statement due to finding cyber security very interesting and
                    that blockchain is not only a new technology but also has the opportunity to be revolutionary. I do believe that it
                    will and I am hoping to discover some highly intriguing things whilst undertaking the research into said field.
                    Not only will this expose me to new technologies and a new way of thinking, it will help show how healthcare as a whole
                    works (from the viewpoint of my project) and allow me to see if I can indeed apply any of the newly learnt information to
                    web development.
                </p>
            </div>
        </div>
    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="certifications">
    <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                MTA: Database Fundamentals - Certified 2019
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Completed 'Blockchain: Beyond the Basics' - 2019
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Completed 'Blockchain Basics' - 2019
            </li>
        </ul>
    </div>
</section>