<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">University and <a href="#awards" class="js-scroll-trigger">Certifications</a></h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">University of Lincoln <i class="fa fa-university"></i></h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                <div>Computer Science</div>
                <p>
                    Second Year: High 2:1<br />
                    Third Year: Predicated to get a First.
                </p>

            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2017 - 2020</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">Third Year Dissertation Project Idea <i class="fa fa-book"></i></h3>
                <div class="subheading mb-3">
                    The standardisation of health data transfer with the use of blockchain technology (Sovrin), with emphasis on
                    cross-border transfer.
                </div>
                <p>
                    I am hoping to do my third year project on the above statement due to finding cyber security very interesting and
                    that blockchain is not only a new technology but also has the opportunity to be revolutionary. I do believe that it
                    will and I am hoping to discover some highly intriguing things whilst undertaking the research into said field.
                    Not only will this expose me to new technologies and a new way of thinking, it will help show how healthcare as a whole
                    works (from the viewpoint of my project) and allow me to see if I can indeed apply any of the newly learnt information to
                    web development.
                </p>
            </div>
        </div>
    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
    <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                MTA: Database Fundamentals - Certified 2019
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Completed 'Blockchain: Beyond the Basics' - 2019
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Completed 'Blockchain Basics' - 2019
            </li>
        </ul>
    </div>
</section>