<section class="resume-section p-3 p-lg-5 d-flex align-items-center text-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills & Projects</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fa fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fa fa-css3" id="css"></i>
            </li>
            <li class="list-inline-item">
                <i class="fa fa-windows" id="microsoft"></i>
            </li>
            <li class="list-inline-item">
                <i class="fa fa-database" id="databaseIcon"></i>
            </li>
            <li class="list-inline-item">
                <i class="fa fa-github-alt" id="github-alt"></i>
            </li>
            <li class="list-inline-item">
                <i class="fa fa-code" id="codeIcon"></i>
            </li>
            <br />
        </ul>
        <div class="subheading mb-3">Other tools that I use but couldn't find an icon for are the following</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa fa-check completed"></i>
                C# ASP.NET MVC
            </li>
            <li>
                <i class="fa fa-check completed"></i>
                Visual Studio <i class="fa fa-windows" id="microsoft2"></i>
            </li>
            <li>
                <i class="fa fa-check completed"></i>
                PHP (Laravel) - Using Sublime Text
            </li>
        </ul>
    </div>
</section>
<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center text-center" id="skills">
    <div class="w-100">
        <div class="subheading mb-3">Projects (Not Finished)</div>
        <div class="row">
            <div class="col">
                <img class="img-fluid not-active" src="https://tinyurl.com/yxab5me7" />
            </div>
            <div class="col">
                <img class="img-fluid not-active" src="https://tinyurl.com/yxab5me7" />
            </div>
            <div class="col">
                <img class="img-fluid not-active" src="https://tinyurl.com/yxab5me7" />
            </div>
        </div>
    </div>
</section>

<hr class="m-0">